
@{
    ViewData["Title"] = "IdexJOBRANK";
}

<h1>IdexJOBRANK</h1>

@*////////////////////////////li الجدول المرتبة الوظيفية///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">

    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdJOBRANK" aria-expanded="true" aria-controls="sidlayout" style="        background: linear-gradient(to left,#878a9f,#00edff);
        width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">أنواع المرتبة الوظيفية </span>
            <i class="menu-arrow"></i>
        </a>

    </li>
</div>
@*////////////////////////////عرض الجدول المرتبة الوظيفية///////////////////////////////////////////////*@

<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th> المرتبة الوظيفية</th>
                        <th> الراتب</th>
                        <th> المنصب</th>
                        <th> اسم الفئة الوظيفية</th>


                        <th style="  text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>9900000</td>
                        <td>وزير</td>
                        <td>الاولى</td>




                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>
@*////////////////////////////////////////////MODYLE المرتبة الوظيفية///////////////////////////////////////////////////*@
<div class="modal" id="myModaJOBRANK">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Mangment baicsk -->
            <div class="modal-header">
                <h4 class="modal-title">   المرتبة الوظيفيةات </h4>

                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="name" class="form-control" placeholder=" اسم المرتبة الوظيفية" />
                </div>
                <div class="form-group">
                    <input id="name" class="form-control" placeholder=" الراتب" />
                </div>
                <div class="form-group">
                    <input id="name" class="form-control" placeholder=" المنصب" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <select id="ddlcategory" class="form-control">
                        <option value="0">-- اختار الفئة الوظيفية--</option>


                    </select>
                    <span class="text-danger"></span>
                </div>


            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $("#IdJOBRANK").click(function () {

                $("#myModaJOBRANK").modal('show');
            });

            $(".btnclose").click(function () {

                $("#myModaJOBRANK").modal('hide');
            });
            $("#btnSave").click(function () {
                alert("nssssssss");
                var newcategory = $("#txtNewCategory").val();
                if (newcategory != "") {
                    $.ajax({
                        url: "/Home/AddCategory",
                        method: "Post",
                        data: { newcategory: newcategory },
                        success: function (response) {
                            var gitresp = $("#ddlcategoryy");
                            var gitresp = $("#ddlcategory");
                            gitresp.empty().append('<option selected="selected" value="0">--select category--</option>');
                            $.each(response, function () {
                                gitresp.append($("<option></option>").val(this['value']).html(this['text']));
                            });
                            gitresp.append('<option value="new">--add new category--</option>');

                        }
                    });
                }
            });
        });
    </script>
}