
@{
    ViewData["Title"] = "AdminAddemployee";
}


<div class="table-responsive  col-md-6 " style="margin-bottom:5px;list-style:none;">
    <ul>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 8px;float: right;">
            <a class="nav-link" data-bs-toggle="collapse" id="Employeeli" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;color: white;">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">البيانات الشخصية  </span>

            </a>

        </li>
    </ul>
</div>
@*/////////////////////////////////////////////////////////////////////////////*@

<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="Row" style="background-color:white">
        <div class="table-responsive col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>                 
                        <th> اسم الموظف </th>
                        <th> اللقب</th>
                        <th>الرقم التأميني</th>
                        <th> العنوان</th>
                        <th> رقم التلفون</th>
                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >1</td>
                        <td> معاذ عبدالرحمن حمود</td>
                        <td> المخلافي</td>
                        <td> 1547 </td>
                        <td> صنعاء</td>
                        <td>7757XXX</td>

                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style=text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Dummy Modal Starts -->
<div class="modal demo-modal" id="myModal3">
    <div class="modal-dialog modal-lg" style="max-width:1300px;" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">البيانات الشخصية</h5>
                <button type="button" class="close" id="btnclose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-10">
                            <div class="card" style="box-shadow:none;">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-2 col-12">
                                                    <label >الرقم الوطني</label>
                                                    <div class="form-group">

                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >رقم الموظف</label>
                                                    <div class="form-group ">

                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <label >الاسم الثلاثي</label>
                                                    <div class="form-group ">

                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-12">
                                                    <label >اللقب</label>
                                                    <div class="form-group ">

                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >الرقم التاميني</label>
                                                    <div class="form-group">

                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-4 col-12">
                                                    <label >اسم الام</label>
                                                    <div class="form-group">

                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-12">
                                                    <label >العنون</label>
                                                    <div class="form-group">

                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-12">
                                                    <label >رقم التلفون</label>
                                                    <div class="form-group ">
                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" >
                                                          

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 ">

                                                    <div class="form-group ">
                                                        <label >الجنس </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>ذكر</option>
                                                                    <option>أنثى </option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>

                                               

                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <div>
                                                    <b>
                                                        <label > وثيقة اثبات الشخصية</label>
                                                        <label id="title" > مكان الاصدار</label>
                                                    </b>
                                                </div>
                                                <div class="col-md-2 ">

                                                    <div class="form-group ">
                                                        <label ">نوع الوثيقة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>شحصية</option>
                                                                    <option>جواز سفر</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label >رقمها</label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label >تاريخ أصدارها</label>
                                                    <div class="form-group">
                                                        <div class="position-relative">
                                                            <input type="date" class="form-control">
                                                          

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2 ">

                                                    <div class="form-group ">
                                                        <label ">الدولة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>اليمن</option>
                                                                    <option>عمان</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <div class="form-group ">
                                                        <label ">المحافظة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>تعز</option>
                                                                    <option>صنعاء</option>
                                                                    <option>مسقط</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2  ">
                                                    <div class="form-group ">
                                                        <label >المديرية</label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>الامانة</option>
                                                                    <option>معين</option>
                                                                    <option>مسقط</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <div>
                                                    <b>
                                                        <label > وثيقة الميلاد</label>
                                                        <label id="titles" > مكان الميلاد</label>
                                                    </b>
                                                </div>
                                                <div class="col-md-1 option">

                                                    <div class="form-group ">
                                                        <label >نوع الوثيقة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>تسنين</option>
                                                                    <option>ميلاد</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label >رقمها</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>تاريخ أصدارها</label>
                                                    <div class="form-group ">
                                                        <div class="position-relative">
                                                            <input type="date" class="form-control" >
                                                           

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label ">تاريخ الميلاد</label>
                                                    <div class="form-group">
                                                        <div class="position-relative">
                                                            <input type="date" class="form-control" >
                                                           

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-1 option ">

                                                    <div class="form-group">
                                                        <label>الدولة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>اليمن</option>
                                                                    <option>عمان</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 option">
                                                    <div class="form-groupt">
                                                        <label>المحافظة </label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>تعز</option>
                                                                    <option>صنعاء</option>
                                                                    <option>مسقط</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 option ">
                                                    <div class="form-group ">
                                                        <label>المديرية</label>
                                                        <div class="position-relative">
                                                            <fieldset class="form-group">
                                                                <select class="form-select" id="basicSelect">
                                                                    <option>الامانة</option>
                                                                    <option>معين</option>
                                                                    <option>مسقط</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <label >القرية</label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <div>
                                                    <b>
                                                        <label >بيانات القريب الاول </label>
                                                        <label id="titless" > بيانات القريب الثاني</label>

                                                    </b>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >الاسم </label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >العنوان</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >التلفون</label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control" >
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label for="first-name-icon">الاسم </label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-12">
                                                    <label for="first-name-icon">العنوان</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label>التلفون</label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control">
                                                     
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <div>
                                                    <b>
                                                        <label>بيانات الضامن </label>


                                                    </b>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label>الاسم </label>
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >العنوان</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-12">
                                                    <label >التلفون</label>
                                                    <div class="form-group " >
                                                        <input type="text" class="form-control ">
                                                    
                                                    </div>
                                                </div>                                      
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card" style="box-shadow:none;">
                                <div class="card-content">
                                    <div class="card-body" style="padding:5px;">
                                        <div class="col-md-12 col-2">
                                            <div class="position-relative">
                                                <img class="form-control" src="~/Images/IMG-20210308-WA0008.jpg" width="200" height="200" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>الصورة الشخصية</label>
                                        <div>
                                            <div class="position-relative">
                                                <input type="file" class="form-control" placeholder="إضافة صورة" ">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1" >حفظ</button>
                                    </div>
                                </div>
                                    </div>
                                    </div>
                  </div>             
            </section>
            </div>
            
        </div>
        
    </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {

        $("#Employeeli").click(function () {

            $("#myModal3").modal('show');
        });
        $("#btnclose").click(function () {

            $("#myModal3").modal('hide');
        });
    });
    </script>
}
