
@{
    ViewData["Title"] = "IndexConfigurationTwo";
}

<h1>تراميز وظيفية 2</h1>
<div style="list-style:none;">
    <div class="table-responsive  col-md-6 " style="margin-bottom: 66px;width: 100%;background: white;list-style: none;padding: 10px;text-align: center;">
        <li class="nav-item menu-items sub-menu " style="        /* border: 1px solid red; */ width: 10%; margin-right: 10px; float: right;margin-left: 100px">
            <a class="nav-link" data-bs-toggle="collapse" id="IdDECISIONNATURAL" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="background: linear-gradient(to left,#878a9f,#00edff);width: 180px;border-radius: 10px;color: white;">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">طبيعة القرار </span>

            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 10%;/* margin-right: 10px; */float: right;margin-left: 80px;">
            <a class="nav-link" data-bs-toggle="collapse" id="IdDECISIONTYPE" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">نوع القرار </span>
                <i class="menu-arrow"></i>
            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 10%;/* margin-right: 10px; */float: right;margin-left: 80px;">
            <a class="nav-link" data-bs-toggle="collapse" id="IdCARDSTYPE" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">انواع الوثائق  </span>
                <i class="menu-arrow"></i>
            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 10%;/* margin-right: 10px; */float: right;margin-left: 80px;">
            <a class="nav-link" data-bs-toggle="collapse" id="IdCOUNTRIES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">الدولة </span>

            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 10%;/* margin-right: 10px; */float: right;margin-left: 80px;">
            <a class="nav-link" data-bs-toggle="collapse" id="IdCITIES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal"> المحافضات </span>

            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 10%;/* margin-right: 10px; */float: right;margin-left: 80px;">
            <a class="nav-link" data-bs-toggle="collapse" id="IdDIRECTORATES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal"> المديريات </span>
               
            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="        /* border: 1px solid red; */ width: 10%; /* margin-right: 22px; */  float: right;   margin-left: 80px;  margin-right: 10px;   margin-top: 9px">
            <a class="nav-link" data-bs-toggle="collapse" id="IdHOLIDAYS" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">الإجازات </span>

            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="        /* border: 1px solid red; */ width: 10%; /* margin-right: 22px; */  float: right;   margin-left: 80px;  margin-right: 10px;   margin-top: 9px">
            <a class="nav-link" data-bs-toggle="collapse" id="IdLANGUAGES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                </span>
                <span class="menu-title font-weight-normal">اللغات </span>

            </a>

        </li>
        <li class="nav-item menu-items sub-menu " style="        /* border: 1px solid red; */ width: 10%; /* margin-right: 22px; */  float: right;   margin-left: 80px;  margin-right: 10px;   margin-top: 9px">
            <a class="nav-link" data-bs-toggle="collapse" id="IdOVERTIMESTYPES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="
        background: linear-gradient(to left,#878a9f,#00edff);
        width: 180px;
        border-radius: 10px;
        color: white;
        ">
                <span class="menu-icon">
                    <i class="mdi mdi-view-list"></i>
                    <span class="menu-title font-weight-normal">نوع العمل الإضافي </span>

                </span>
            </a>

        </li>
    </div>



@*//////////////////////////// طبيعة القرار li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdDECISIONNATURAL" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">طبيعة القرار </span>

        </a>

    </li>
</div>

@*//////////////////////////// طبيعة القرار عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>اسم طبيعة القرار</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>نقل</td>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl طبيعة القرار//////////////////////////////////*@
<div class="modal" id="myModalDECISIONNATURAL">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">طبيعة القرار</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم طبيعة القرار" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@


@*//////////////////////////// نوع القرار li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdDECISIONTYPE" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">نوع القرار </span>

        </a>

    </li>
</div>

@*//////////////////////////// نوع القرار عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>اسم نوع القرار</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>جمهوري</td>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl نوع القرار//////////////////////////////////*@
<div class="modal" id="myModalDECISIONTYPE">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">نوع القرار</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم نوع القرار" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@

@*//////////////////////////// انواع الوثائق  li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdCARDSTYPE" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">انواع الوثائق  </span>

        </a>

    </li>
</div>

@*//////////////////////////// انواع الوثائق  عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>اسم انواع الوثائق </th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <th>اليمن</th>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl انواع الوثائق //////////////////////////////////*@
<div class="modal" id="myModalCARDSTYPE">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">انواع الوثائق </h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم  الوثيقة " />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@


@*//////////////////////////// الدولة li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdCOUNTRIES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">الدولة </span>

        </a>

    </li>
</div>

@*//////////////////////////// الدولة عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>اسم الدولة</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <th>اليمن</th>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl الدولة//////////////////////////////////*@
<div class="modal" id="myModalCOUNTRIES">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">الدولة</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم الدولة" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@

@*////////////////////////////li الجدول المحافضات///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">

    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdCITIES" aria-expanded="true" aria-controls="sidlayout" style="        background: linear-gradient(to left,#878a9f,#00edff);
        width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal"> المحافضات </span>
            <i class="menu-arrow"></i>
        </a>

    </li>
</div>
@*////////////////////////////عرض الجدول المحافضات///////////////////////////////////////////////*@

<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th> المحافضات</th>

                        <th> الدولة</th>


                        <th style="  text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>إب</td>

                        <td>اليمن</td>




                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>
@*////////////////////////////////////////////MODYLE المحافضات///////////////////////////////////////////////////*@
<div class="modal" id="myModaCITIES">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Mangment baicsk -->
            <div class="modal-header">
                <h4 class="modal-title">   المحافضاتات </h4>

                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="name" class="form-control" placeholder=" اسم المحافضة" />
                </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    <select id="ddlcategory" class="form-control">
                        <option value="0">-- اختار الدولة--</option>


                    </select>
                    <span class="text-danger"></span>
                </div>


            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>

@*//////////////////////////////////////////////////////////////////////////////////////////////*@


@*////////////////////////////li الجدول المديريات///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">

    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdDIRECTORATES" aria-expanded="true" aria-controls="sidlayout" style="        background: linear-gradient(to left,#878a9f,#00edff);
        width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal"> المديريات </span>
            <i class="menu-arrow"></i>
        </a>

    </li>
</div>
@*////////////////////////////عرض الجدول المديريات///////////////////////////////////////////////*@

<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th> المديريات</th>

                        <th> اسم المحافظة</th>


                        <th style="  text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>السياني</td>

                        <td>إب</td>




                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>
@*////////////////////////////////////////////MODYLE المديريات///////////////////////////////////////////////////*@
<div class="modal" id="myModaDIRECTORATES">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Mangment baicsk -->
            <div class="modal-header">
                <h4 class="modal-title">   المديرياتات </h4>

                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="name" class="form-control" placeholder="اسم المديرية" />
                </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    <select id="ddlcategory" class="form-control">
                        <option value="0">-- اختار المحافظة--</option>


                    </select>
                    <span class="text-danger"></span>
                </div>


            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

@*//////////////////////////// الإجازات li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdHOLIDAYS" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">الإجازات </span>

        </a>

    </li>
</div>

@*//////////////////////////// الإجازات عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>انواع الإجازات</th>
                        <th>المدة</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <th>اعتيادية</th>
                        <th>60</th>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl الإجازات//////////////////////////////////*@
<div class="modal" id="myModalHOLIDAYS">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">الإجازات</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم الإجازة" />
                </div>
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="رصيد الاجازة" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@







@*//////////////////////////// اللغات li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdLANGUAGES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">اللغات </span>

        </a>

    </li>
</div>

@*//////////////////////////// اللغات عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>اسم اللغة</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <th>العربية</th>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl اللغات//////////////////////////////////*@
<div class="modal" id="myModalLANGUAGES">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">اللغات</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم اللغة" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>


@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@



@*//////////////////////////// نوع العمل الإضافي li  ///////////////////////////////////////////////*@
<div class="table-responsive  col-md-6 " style="margin-bottom:5px">
    <li class="nav-item menu-items sub-menu " style="/* border: 1px solid red; */width: 30%;margin-right: 48px;float: right;">
        <a class="nav-link" data-bs-toggle="collapse" id="IdOVERTIMESTYPES" href="#MAAN1" aria-expanded="true" aria-controls="sidlayout" style="  background: linear-gradient(to left,#878a9f,#00edff);  width: 300px;
        border-radius: 10px;
        color: white;">
            <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
            </span>
            <span class="menu-title font-weight-normal">نوع العمل الإضافي </span>

        </a>

    </li>
</div>

@*//////////////////////////// نوع العمل الإضافي عرض الجدول ///////////////////////////////////////////////*@
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="card" style="background-color:white">
        <div class="card-body">



            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>نوع العمل الإضافي</th>
                        <th>النسبة</th>


                        <th style=" text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>1</td>
                        <td>مسائي</td>
                        <td>100%</td>



                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="text-align: center;">
                            <button id="btnadd" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Edite</button>
                            <button id="btnremove" type="button" class="btn btn-sm btn-danger visible">Delete</button>
                        </td>
                    </tr>





                </tbody>
            </table>


        </div>
    </div>

</section>

@*/////////////////////////////////////////modyl نوع العمل الإضافي//////////////////////////////////*@
<div class="modal" id="myModalOVERTIMESTYPES">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header Sectors -->
            <div class="modal-header">
                <h4 class="modal-title">نوع العمل الإضافي</h4>
                <button type="button" class="close btnclose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="اسم نوع العمل الاضافي" />
                </div>
                <div class="form-group">
                    <input id="textsectors" class="form-control" type="text" placeholder="النسبة" />
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLOGIN">حفظ</button>
                <button type="button" class="btn btn-danger btnclose">اغلاق</button>
            </div>
        </div>
    </div>
</div>

</div>
@*////////////////////////////////////////////////////////////////////////////////////////////////////////*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#IdDECISIONNATURAL").click(function () {

                $("#myModalDECISIONNATURAL").modal('show');
            });
            $("#IdDECISIONTYPE").click(function () {

                $("#myModalDECISIONTYPE").modal('show');
            });
            $("#IdCARDSTYPE").click(function () {

                $("#myModalCARDSTYPE").modal('show');
            });

            $("#IdCOUNTRIES").click(function () {

                $("#myModalCOUNTRIES").modal('show');
            });
            $("#IdCITIES").click(function () {

                $("#myModaCITIES").modal('show');
            });
            $("#IdDIRECTORATES").click(function () {

                $("#myModaDIRECTORATES").modal('show');
            });

            $("#IdHOLIDAYS").click(function () {

                $("#myModalHOLIDAYS").modal('show');
            });


            $("#IdLANGUAGES").click(function () {

                $("#myModalLANGUAGES").modal('show');
            });
            $("#IdOVERTIMESTYPES").click(function () {

                $("#myModalOVERTIMESTYPES").modal('show');
            });

            $(".btnclose").click(function () {

                $("#myModalDECISIONNATURAL").modal('hide');
                $("#myModalDECISIONTYPE").modal('hide');
                $("#myModalCARDSTYPE").modal('hide');
                $("#myModalCOUNTRIES").modal('hide');
                $("#myModaCITIES").modal('hide');
                $("#myModaDIRECTORATES").modal('hide');
                $("#myModalHOLIDAYS").modal('hide');
                $("#myModalLANGUAGES").modal('hide');
                $("#myModalOVERTIMESTYPES").modal('hide');
            });
            $("#btnSave").click(function () {
                alert("nssssssss");
                var newcategory = $("#txtNewCategory").val();
                if (newcategory != "") {
                    $.ajax({
                        url: "/Home/AddCategory",
                        method: "Post",
                        data: { newcategory: newcategory },
                        success: function (response) {
                            var gitresp = $("#ddlcategoryy");
                            var gitresp = $("#ddlcategory");
                            gitresp.empty().append('<option selected="selected" value="0">--select category--</option>');
                            $.each(response, function () {
                                gitresp.append($("<option></option>").val(this['value']).html(this['text']));
                            });
                            gitresp.append('<option value="new">--add new category--</option>');

                        }
                    });
                }
            });
        });
    </script>
}
