
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card corona-gradient-card">
                <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">

                        <div class="col-5 col-sm-7 col-xl-8 p-2">
                            <h4 class="mb-1 mb-sm-0">وزارة العدل</h4>
                            <p class="text-success me-2 mb-0 font-weight-medium">الاحصائيات الحديثة</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <div class="d-flex align-items-center align-self-start">
                                <h4 class="mb-0"> الموظفين تحت الخدمة</h4>
                            </div>
                        </div>
                    </div>
                    <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <div class="d-flex align-items-center align-self-start">
                                    <h4 class="mb-0"> الموظفين المتقاعدين</h4>
                                </div>
                            </div>
                        </div>
                        <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <div class="d-flex align-items-center align-self-start">
                                    <h4 class="mb-0"> الموظفين المفصولين</h4>
                                </div>
                            </div>
                        </div>
                        <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                    </div>
                </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> الجهات القضائية</h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0">  عدد الادارات الرئيسية</h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> عدد الادارات الفرعية</h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> الاستحقاقات الثابتة </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> الاستقطاعات الثابتة </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> الرواتب  </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0"> الروتب مع الزيادة السنوية </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0">الجزاءات </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h4 class="mb-0">المكافأت </h4>
                                    </div>
                                </div>
                            </div>
                            <p class="text-success me-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<section class="section  " style="background-color:white;margin: 10px;border-radius: 10px;">
    <div class="Row" style="background-color:white">
        <div class="table-responsive col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th><h4>تسلسل</h4></th>
                        <th><h4>اسم الادارة الفرعية</h4></th>
                        <th><h4>عدد الموظفين بالادارة</h4></th>
                        <th><h4>عدد الحاضرين</h4></th>
                        <th><h4>أجمالي الرواتب الكلي للادارة</h4></th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td> محكمة استئناف صنعاء</td>
                        <td> 56</td>
                        <td> 40 </td>
                        <td> 12587494</td>
              
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="col-md-12 col-xl-4">
    <div class="card sale-card">
        <div class="card-header">
            <h5>Total Revenue</h5>
        </div>
        <div class="card-block text-center">
            <div id="tot-rev-chart" class="tot-rev-chart chart-shadow st-cir-chart" style="width:100px;height:100px">
                <h3>120</h3>
                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M43.666,92.025A42.5,42.5,0,1,0,50,7.5" class="ct-slice-donut" ct:value="11" style="stroke-width: 5px;"></path></g><g class="ct-series ct-series-b"><path d="M50,7.5A42.5,42.5,0,0,0,43.812,92.047" class="ct-slice-donut" ct:value="10" style="stroke-width: 5px;"></path></g></svg>
            </div>
            <h6 class="m-t-40">Today’s Total Sales</h6>
            <h3 class="f-w-700 m-b-40">100</h3>
            <div class="row">
                <div class="col-4">
                    <p class="m-b-5">Target</p>
                    <h3 class="f-w-700 text-c-yellow">$1253</h3>
                </div>
                <div class="col-4">
                    <p class="m-b-5">Last Week</p>
                    <h3 class="f-w-700 text-c-yellow">$795</h3>
                </div>
                <div class="col-4">
                    <p class="m-b-5">Last Month</p>
                    <h3 class="f-w-700 text-c-yellow">$978</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-md-6">
    <div class="card o-hidden">
        <div class="card-header">
            <h5>Sale Income</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-4">
                    <p class="text-muted m-b-5">Overall</p>
                    <h6>68.52%</h6>
                </div>
                <div class="col-4">
                    <p class="text-muted m-b-5">Monthly</p>
                    <h6>28.90%</h6>
                </div>
                <div class="col-4">
                    <p class="text-muted m-b-5">Day</p>
                    <h6>13.50%</h6>
                </div>
            </div>
        </div>
        <div id="sal-income" style="height: 100px; padding: 0px; position: relative;"><canvas class="flot-base" width="323" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 323.656px; height: 100px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: center;">0.0</div><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 62px; text-align: center;">2.5</div><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 124px; text-align: center;">5.0</div><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 187px; text-align: center;">7.5</div><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 249px; text-align: center;">10.0</div><div style="position: absolute; max-width: 46px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 311px; text-align: center;">12.5</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">0</div><div style="position: absolute; top: 67px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">10</div><div style="position: absolute; top: 33px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">20</div><div style="position: absolute; top: 0px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">30</div></div></div><canvas class="flot-overlay" width="323" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 323.656px; height: 100px;"></canvas></div>
    </div>
</div>
<div class="col-xl-3 col-md-6">
    <div class="card card-blue st-cir-card text-white">
        <div class="card-block">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div id="status-round-2" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                        <h5>56%</h5>
                        <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M23.75,68.146A32.5,32.5,0,1,0,40,7.5" class="ct-slice-donut" ct:value="7" style="stroke-width: 5px;"></path></g><g class="ct-series ct-series-b"><path d="M40,7.5A32.5,32.5,0,0,0,23.848,68.202" class="ct-slice-donut" ct:value="5" style="stroke-width: 5px;"></path></g></svg>
                    </div>
                </div>
                <div class="col text-center">
                    <h3 class="f-w-700 m-b-5">102</h3>
                    <h6 class="m-b-0">Goals</h6>
                </div>
            </div>
            <span class="st-bt-lbl">56</span>
        </div>
    </div>
</div>
<div class="col-xl-3 col-md-6">
    <div class="card prod-bar-card">
        <div class="card-header" >
            <h5>Total Sales</h5>
        </div>
        <div class="card-block">
            <p>June - July</p>
            <div class="row text-center">
                <div class="col-6">
                    <div id="pbc-3" class="pbc-chart" style="height: 50px; padding: 0px; position: relative;"><canvas class="flot-base" width="50" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 50px; height: 50px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 12px; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 1px; text-align: center;">0</div><div style="position: absolute; max-width: 12px; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 31px; text-align: center;">5</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">0</div><div style="position: absolute; top: 33px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">10</div><div style="position: absolute; top: 17px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">20</div><div style="position: absolute; top: 0px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">30</div></div></div><canvas class="flot-overlay" width="50" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 50px; height: 50px;"></canvas></div>
                    <h6>$ 56,480<i class="fas fa-caret-up m-l-10 text-c-green"></i></h6>
                </div>
                <div class="col-6">
                    <div id="pbc-4" class="pbc-chart" style="height: 50px; padding: 0px; position: relative;"><canvas class="flot-base" width="50" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 50px; height: 50px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 12px; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 1px; text-align: center;">0</div><div style="position: absolute; max-width: 12px; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 31px; text-align: center;">5</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 50px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">0</div><div style="position: absolute; top: 33px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">10</div><div style="position: absolute; top: 17px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">20</div><div style="position: absolute; top: 0px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">30</div></div></div><canvas class="flot-overlay" width="50" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 50px; height: 50px;"></canvas></div>
                    <h6>$ 32,432<i class="fas fa-caret-down m-l-10 text-c-red"></i></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xl-4">
    <div class="card card-green text-white">
        <div class="card-block p-b-0">
            <div class="row m-b-50">
                <div class="col">
                    <h6 class="m-b-5">Sales In July</h6>
                    <h5 class="m-b-0  f-w-700">$2665.00</h5>
                </div>
                <div class="col-auto text-center">
                    <p class="m-b-5">Direct Sale</p>
                    <h6 class="m-b-0">$1768</h6>
                </div>
                <div class="col-auto text-center">
                    <p class="m-b-5">Referal</p>
                    <h6 class="m-b-0">$897</h6>
                </div>
            </div>
            <div id="sec-ecommerce-chart-line" class="chart-shadow" style="height: 30px; padding: 0px; position: relative;"><canvas class="flot-base" width="283" height="30" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 283.656px; height: 30px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: center;">0.0</div><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 51px; text-align: center;">2.5</div><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 101px; text-align: center;">5.0</div><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 152px; text-align: center;">7.5</div><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 203px; text-align: center;">10.0</div><div style="position: absolute; max-width: 40px; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 253px; text-align: center;">12.5</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 30px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">0</div><div style="position: absolute; top: 10px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">20</div></div></div><canvas class="flot-overlay" width="283" height="30" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 283.656px; height: 30px;"></canvas></div>
            <div id="sec-ecommerce-chart-bar" style="height: 100px; padding: 0px; position: relative;"><canvas class="flot-base" width="283" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 283.656px; height: 100px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 6px; text-align: center;">0.0</div><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 54px; text-align: center;">2.5</div><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 103px; text-align: center;">5.0</div><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 152px; text-align: center;">7.5</div><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 200px; text-align: center;">10.0</div><div style="position: absolute; max-width: 35px; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 249px; text-align: center;">12.5</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 100px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">0</div><div style="position: absolute; top: 67px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">10</div><div style="position: absolute; top: 33px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">20</div><div style="position: absolute; top: 0px; font: 400 0px/0px &quot;open sans&quot;, sans-serif; color: transparent; left: 0px; text-align: right;">30</div></div></div><canvas class="flot-overlay" width="283" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 283.656px; height: 100px;"></canvas></div>
        </div>
    </div>
</div>