@{
    ViewData["Title"] = "Login";
}


<div class="row ">
    <div class="col-3 container CenteredContainer text-center">

        <form>
            <h4 class="text-center text-white">تسجيل الدخول </h4>
            <hr />
            <div class="text-danger"></div>
            <div class="form-group">

                <input class="form-control" placeholder="اسم المستخدم" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">

                <input class="form-control" placeholder="كلمة المرور" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group text-white">

                <label>

                    <input type="checkbox" style="width:auto" class="text-white"> تذكرني?
                </label>

            </div>
            <div class="form-group">
                <input type="submit" value="دخول" class="btn btn-danger text-white" style=" background-color: aquamarine;color:white;   border: 1px solid aqua;" />
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}