@{
    ViewData["Title"] = "Register";
}


<div class="row ">
    <div class="col-3 container CenteredContainer text-center">
        <form asp-action="Register">
            <h4 class="text-white">إضافة مستخدم</h4>
            <hr />
            <div class="text-danger"></div>
            <div class="form-group">

                <input class="form-control" placeholder="اسم المستخدم" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">

                <input class="form-control" placeholder="البريد الالكتروني" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">

                <input class="form-control" placeholder="كلمة المرور" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">

                <input class="form-control" placeholder="تاكيد كلمة المرور" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="تسجيل" class="btn btn-danger  font-weight-bolder" style=" background-color: aquamarine;color:white;   border: 1px solid aqua;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}