
@{
    ViewData["Title"] = "IndexFUNANCIALSTATEMENTS";
}

<h1>البيانات المالية</h1>

<div style="        text-align: center;   margin-left: 20px">

    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class=" col-12">
                    <div class="row">
                        <section>
                            <div class="col-md-3 col-12" style="margin-right:10px">
                                <label for="first-name-icon">اسم الموظف  </label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 col-12" style="margin-right:10px">
                                <label for="first-name-icon"></label>
                                <div class="form-group ">

                                    <input type="submit" class="form-control" value="بحث">
                                </div>
                            </div>
                        </section>
</div>
</div>
</div>
</div>
</div>
</div>?"

"