
@{
    ViewData["Title"] = "IndexFUNCTIONALDATA";
}

<h1>البيانات الوظيفية</h1>

<div style="        text-align: center;   margin-left: 20px">

        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class=" col-12">
                        <div class="row">

                            <div class="col-md-3 col-12" style="margin-right:10px">
                                <label for="first-name-icon">رقم القرار</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 col-12" style="margin-right:10px">
                                <label for="first-name-icon"></label>
                                <div class="form-group ">

                                    <input type="submit" class="form-control" value="بحث">
                                </div>
                            </div>
                            <div class="col-md-3 col-12" style="margin-right:10px">
                                <label for="first-name-icon">اسم الموظف</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 col-12" style="margin-right:10px">
                                <label for="first-name-icon">الرقم الوظيفي</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 col-12" style="margin-right:10px">
                                <label for="first-name-icon">تاريخ التعيين</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                       <div style="margin-bottom:20PX;margin-top:10PX">
                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon">الموقع القضائي الأساسي</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>الدبوان العام</option>
                                                <option>المحكمة العليا</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon">الموقع القضائي الفرعي</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>مكتب الوزير </option>
                                                <option>مركز المعلومات</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            </div>


                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon"> المؤهل عند التعيين</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">

                                                <option>الدكتوره</option>
                                                <option>الماجستير</option>
                                                <option>البكالوريوس</option>
                                                <option>دبلوم الدراسات العليا</option>
                                                <option>الثنوية</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12" style="margin-right:10px">
                                <label for="first-name-icon">تاريخ المؤهل</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon"> المجموعة الوظيفة</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>السلطات العليا</option>
                                                <option>أ+1</option>
                                                <option>ب+1</option>
                                                <option>ج+1</option>
                                                <option>أ+2</option>
                                                <option>ب+2</option>
                                                <option>ج+2</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon"> الدرجة الوظيفة</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>مدير عام</option>
                                                <option>وزير</option>
                                                <option>وكيل وزارة</option>

                                                <option>ملازم</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon"> المرتبة الوظيفة</label>
                                    <div class="position-relative">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>وزير</option>
                                                <option>وكيل وزارة</option>
                                                <option>مدير عام</option>
                                                <option>ملازم اول</option>
                                                <option>ملازم اول</option>
                                                <option>ملازم اول</option>
                                                <option>ملازم اول</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-12" style="margin-right:10px">
                                <label for="first-name-icon">اسم الوظيفة</label>
                                <div class="form-group ">

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-11 col-12">

                            </div>
                            <div class="col-md-1 col-12">
                                <label for="first-name-icon"></label>
                                <div class="form-group ">

                                    <input type="submit" class="form-control" value="حفظ">
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                    </div>


             
                </div>
                </div>
